@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root {
    --color-carrot: #e67e22;
    --color-black: #130f40;
    --color-gray: #666;
    --color-bg-light: #eee;
    --border-primary: .2rem solid var(--color-black);
    --box-shadow-primary: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-carrot);
        border-radius: 5rem;
    }
}

.btn {
    display: inline-block;
    margin: 1.5rem 0;
    padding: .8rem 2.8rem;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border: var(--border-primary);
    cursor: pointer;
    background: none;
    color: black;
    font-size: 1.7rem;
    overflow: hidden;
    z-index: 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color-black);
        z-index: -1;
        transition: .2s linear;
        clip-path: circle(0% at 0% 5%);
    }

    &:hover::before {
        clip-path: circle(100%);
    }

    &:hover {
        border: var(--border-primary);
        color: white;
        background: var(--color-black);
    }
}
.btn-submit {
    width: 100%;
    text-align: center;
}
.btn-white {
    color: white;
    border-color: white;

    &:hover {
        color: var(--color-black);
    }

    &::before {
        background: white;
    }
}

.heading {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 3.5rem;
    color: var(--color-black);

    & span {
        color: var(--color-carrot);
    }
}

nav.navbar {
    padding: 2rem 9%;
    box-shadow: var(--box-shadow-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(-10rem);

    &.active {
        transform: translateY(0rem);
    }
}
.navbar-nav a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--color-gray);

    &:hover {
        color: var(--color-carrot);
    }
}
.navbar-brand {
    font-size: 3rem;
    color: var(--color-black);
}
.navbar-icons i {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--color-black);
    cursor: pointer;

    &:hover {
        color: var(--color-carrot);
    }
}

.form-login {
    position: absolute;
    top: 115%;
    right: 2rem;
    width: 35rem;
    border-radius: .5rem;
    background: white;
    box-shadow: var(--box-shadow-primary);
    padding: 2rem;

    & h3 {
        color: var(--color-black);
        font-size: 2.5rem;
        padding-bottom: .5rem;
    }

    & .form-floating input {
        width: 100%;
        border-bottom: var(--border-primary);
        border-width: .1rem;
        padding: 1.5rem 0;
        font-size: 1.6rem;
        color: var(--color-black);
        text-transform: none;
        margin: 1rem 0;
    }

    & .form-check {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;

        & label {
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--color-gray);
        }
    }

    & .form-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--color-carrot);

        &:hover {
            color: var(--color-black);
            text-decoration: underline;
        }
    }
    animation: fadeIn .4s linear;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s, transform .4s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(3rem);
}

header {
    min-height: 100vh;
    background: url(../images/bg_header.jpeg) no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    padding: 5rem 9%;
    position: relative;
    
    & .container-header {
        width: 50rem;
        
        & h3 {
            font-size: 6rem;
            color: white;
            padding-bottom: 1rem;

            & span {
                color: var(--color-carrot);
            }
        }
    }

    & svg {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
    }
}

section {
    padding: 5rem 9%;
}

section.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    & .image {
        flex: 1 1 40rem;

        & img {
            width: 100%;
        }
    }

    & .container-about {
        flex: 1 1 40rem;

        & h3 {
            color: var(--color-black);
            font-size: 4rem;

            & span {
                color: var(--color-carrot);
            }
        }

        & p {
            font-size: 1.6rem;
            color: var(--color-gray);
            padding: 1rem 0;
            line-height: 2;
        }
    }
}

section.service_pet,
section.service_cut {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    & .image {
        flex: 1 1 40rem;

        & img {
            width: 100%;
        }
    }

    & .container-service {
        flex: 1 1 40rem;
        text-align: center;
        padding: 2rem;

        & h6 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            color: var(--color-black);
            font-weight: 700;
            line-height: 1.4;
        }

        & h3 {
            font-size: 3.5rem;
            color: var(--color-black);

            & span {
                color: var(--color-carrot);
            }
        }

        & .service-button {
            width: 250px;
            height: 160px;
            margin: auto;

            &:hover {
                transform: rotate(15deg);
            }
            
            & a {
                position: relative;

                & img {
                    height: 15rem;
                    margin-top: 1rem;
                }
            }
    
            & span {
                font-size: 2rem;
                color: white;
                position: absolute;
                bottom: -12px; left: 70px;
                rotate: 347deg;
                text-transform: uppercase;
            }
        }

        & p {
            padding: 1rem 0;
            line-height: 2;
            color: var(--color-gray);
            font-size: 1.6rem;
        }
    }
}

section.service_cut {
    flex-wrap: wrap-reverse;

    & .container-service {
        & .service-button {
            & span {
                bottom: 0; left: 100px;
            }
        }
    }
}

section.activities .container-activities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.75rem;

    & .activity {
        background: var(--color-bg-light);
        padding: 3rem;
        text-align: center;
        border-radius: 33% 67% 70% 50% / 30% 30% 70% 70%;

        &:hover {
            border-radius: .5rem;
        }
    }

    & :nth-child(even) {
        border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
    }

    & i {
        width: 6.5rem;
        height: 6.5rem;
        line-height: 6.5rem;
        font-size: 3rem;
        color: white;
        background: var(--color-carrot);
        border-radius: 50%;
        margin-bottom: .5rem;
    }

    & h3 {
        font-size: 2.2rem;
        color: var(--color-black);
        padding: 1rem 0;
    }
}

section.premium {
    & h4 {
        font-size: 2.95rem;
        line-height: 1.2;
    }

    & p {
        margin: 0 0 1em;
        color: var(--color-black);
        font-size: 1.5rem;
    }

    & .col-md-8 {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    & img {
        flex-basis: 25%;
        max-width: 25%;
    }
}

section.plan .container-plan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.75rem;

    & .plan-item {
        position: relative;
        padding: 2rem;
        border-radius: .5rem;
        margin-bottom: 2rem;
        background: var(--color-bg-light);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        &:hover,
        &:focus {
            transform: scale3d(1.006, 1.006, 1);
        }

        & .btn-plan {
            position: absolute;
            bottom: -2rem; right: 2rem;
            background: white;
        }

        & .title {
            text-align: center;
            color: var(--color-carrot);
            font-size: 2rem;
        }

        & .credit {
            text-align: center;
            color: var(--color-black);
            font-size: 3.5rem;
            z-index: 1;
        }

        & i {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-carrot);
            font-size: 5rem;
            padding: 2rem 0;
        }

        & .fa-star {
            font-size: 2.5rem;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
        & .fa-gem {
            font-size: 2rem;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -35%);
            color: white;
        }

        & .list {
            margin: 1rem 0;
            & p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.4rem;
                color: var(--color-gray);
                padding: .5rem 0;

                & span {
                    color: var(--color-carrot);
                }
            }
        }

        & .price {
            font-size: 5rem;
            font-weight: bolder;
            color: var(--color-black);

            & span {
                font-size: 3rem;
            }
        }
    }
}

section.testimony {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    & .image {
        flex: 1 1 40rem;

        & img {
            width: 100%;
        }
    }

    & .carousel {
        flex: 1 1 40rem;
        text-align: center;
        padding: 2rem;

        & button {
            background-color: var(--color-black);
        }

        & button.active {
            background-color: var(--color-carrot);
        }

        & .blockquote-footer {
            color: var(--color-carrot);
            font-size: 1.5rem;
            line-height: 1.2;
            font-weight: 700;
            text-align: start;
            padding: 1rem 0;
            margin-top: 2rem;
        }
    }

    & blockquote {
        &::before {
            content: '\f10e';
            color: var(--color-carrot);
            font-family: FontAwesome;
            font-size: 8rem;
            line-height: 1;
            display: block;
            padding-bottom: 1rem;
        }

        & p {
            font-size: 1.6em;
            line-height: 1.6;
            font-weight: 600;
            text-transform: none;
        }
    }
}

section.gallery {
    padding: 2rem 0;

    & h4 {
        color: var(--color-carrot);
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    & h2 {
        color: var(--color-black);
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 800;
        text-transform: none;
    }

    & .container-gallery {
        display: flex;

        & .image {
            height: 285px;
            padding: 0 1rem;
            transition: all 0.5s ease-in-out;
            z-index: 0;
            position: relative;

            & .btn-gallery {
                text-decoration: none;
                font-size: 5rem;
                color: var(--color-black);
                transform: translate(-50%, -50%);
                opacity: 0;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-carrot);
                opacity: 0;
                transition: opacity 0.5s;
                z-index: 1;
                border-radius: 25px;
            }

            &:hover::after {
                opacity: 0.3;
            }

            &:hover .btn-gallery {
                opacity: 1;
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
            }
        }

        & .images-column {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: url(../images/bg-footer.jpg);
    background-position: center;
    background-size: center;
    padding-top: 10rem;
    padding-bottom: 2rem;

    & .container {
        color: white;

        & h2 {
            font-size: 2.5rem;
            line-height: 1.2;
        }

        & p,
        & a {
            display: block;
            padding: 1rem;
            font-size: 1.25rem;
            cursor: pointer;
        }

        & p:hover i,
        & a:hover i {
            color: var(--color-carrot);
        }

        & i {
            margin-right: 1rem;
            font-size: 2rem;
        }
    }

    & .image {
        width: 200px;
    }

    & .img-wave {
        position: absolute;
        top: 0; left: 0;
        height: 10rem;
        width: 100%;
    }

    & .icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;

        & a {
            & i {
                padding-right: .5rem;
            }
        }
    }

    
    & .footer-text {
        text-align: center;
        color: white;
        font-size: 2rem;
        padding:2rem 1rem;
        margin-top: 2.5rem;

        & span {
            color: var(--color-carrot);
        }
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    nav {
        padding: 2rem;
    }
    header {
        padding: 5rem 2rem;
        justify-content: center;
        background-position: right;

        & .container-header {
            text-align: center;
            padding-bottom: 5rem;

            & h3 {
                font-size: 4.5rem;
            }
        }
    }
    section {
        padding: 5rem 2rem;
    }
}

@media (max-width:768px) {
    nav {
        & .navbar-nav {
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: white;

            & a {
                display: block;
                margin: 2rem;
                font-size: 2rem;
            }
        }
        & .navbar-toggler {
            display: inline-block;
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    nav .form-login {
        width: 90%;
    }
    section.service_pet {
        & .container-service {
            & .service-button {
                & span {
                    bottom: -10px; left: 60px;
                }
            }
        }
    }
    section.service_cut {
        & .container-service {
            & .service-button {
                & span {
                    bottom: 0; left: 95px;
                }
            }
        }
    }
}