<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats - Amazing Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <!-- Menu links -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="../../index.html">
                <img class="d-inline-block align-text-top" src="../images/amazing_brand.png" alt="amazing brand"
                    height="32">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./upcomingEvents.html">Upcoming Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./pastEvents.html">Past Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./stats.html">Stats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="container-fluid p-0">
        <div id="carousel_header" class="carousel slide">
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100">
                    <img src="../images/optional_banner_1.jpg" class="d-block w-100 h-100" alt="imagen banner">
                </div>
                <div class="carousel-item h-100">
                    <img src="../images/optional_banner_2.jpg" class="d-block w-100 h-100" alt="imagen banner">
                </div>
                <div class="carousel-item h-100">
                    <img src="../images/optional_banner_3.jpg" class="d-block w-100 h-100" alt="imagen banner">
                </div>
                <div class="carousel-item h-100">
                    <img src="../images/optional_banner_5.jpg" class="d-block w-100 h-100" alt="imagen banner">
                </div>
                <div class="carousel-item h-100">
                    <img src="../images/banner1.jpg" class="d-block w-100 h-100" alt="imagen banner">
                </div>
                <div class="carousel-item h-100 active overlay">
                    <img src="../images/banner2.jpg" class="d-block w-100 h-100" alt="imagen banner">
                    <div
                        class="carousel-caption d-none d-md-flex justify-content-center align-items-center flex-column h-100">
                        <h5 class="display-1 pt-3">Stats</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="container py-5" id="app" v-cloak>
        <table class="table mb-3" id="eventsStatisticsTable">
            <thead>
                <tr>
                    <th class="table-secondary fw-bolder fs-5" scope="col" colspan="3">Events Statistics</th>
                </tr>
            </thead>
            <tbody id="eventsStatisticsBody">
                <tr class="table-light">
                    <th class="fw-semibold">Event with highest % of assistance</th>
                    <th class="fw-semibold">Event with lowest % of assistance</th>
                    <th class="fw-semibold">Event with larger capacity</th>
                </tr>
                <tr>
                    <td>{{ highestAssistanceEvent.name }} {{ highestAssistancePercentage }} %</td>
                    <td>{{ eventLowestAssistancePercentage.name }} {{ lowestAssistancePercentage }} %</td>
                    <td>{{ eventLargestCapacity.name }} {{ eventLargestCapacity.capacity }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table mb-3" id="upcomingEventsTable">
            <thead>
                <tr>
                    <th class="table-secondary fw-bolder fs-5" scope="col" colspan="3">Upcoming events statistics by
                        category</th>
                </tr>
            </thead>
            <tbody id="upcomingEventsTableBody">
                <tr class="table-light">
                    <th class="fw-semibold">Categories</th>
                    <th class="fw-semibold">Revenues (Estimate)</th>
                    <th class="fw-semibold">Percentage of assitance (Estimate)</th>
                </tr>
                <tr v-for="(categoryStats, category) in upcomingEventsTable">
                    <td>{{ category }}</td>
                    <td>{{ categoryStats.totalRevenue.toLocaleString('en-EN', {
                        style: 'currency',
                        currency: 'USD',
                        minimumFractionDigits: 0
                        }) }}</td>
                    <td>{{ calculateAssistancePercentage(categoryStats.totalEstimate,
                        categoryStats.totalCapacity).toFixed(2) }}%</td>
                </tr>
            </tbody>
        </table>
        <table class="table mb-3" id="pastEventsTable">
            <thead>
                <tr>
                    <th class="table-secondary fw-bolder fs-5" scope="col" colspan="3">Past events statistics by
                        category</th>
                </tr>
            </thead>
            <tbody id="pastEventsTableBody">
                <tr class="table-light">
                    <th class="fw-semibold">Categories</th>
                    <th class="fw-semibold">Revenues</th>
                    <th class="fw-semibold">Percentage of assitance</th>
                </tr>
                <tr v-for="(categoryStats, category) in pastEventsTable">
                    <td>{{ category }}</td>
                    <td>{{ categoryStats.totalRevenue.toLocaleString('en-EN', {
                        style: 'currency',
                        currency: 'USD',
                        minimumFractionDigits: 0
                        }) }}</td>
                    <td>{{ calculateAssistancePercentage(categoryStats.totalEstimate,
                        categoryStats.totalCapacity).toFixed(2) }}%</td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer
        class="footer container-fluid bg-dark px-5 d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
        <div class="d-flex gap-4 mb-5 mb-md-0 ms-3 ms-md-0">
            <a href="https://www.facebook.com/" target="_blank">
                <img class="img-fluid" style="width: 3rem;" src="../images/facebook.png" alt="icon facebook">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img class="img-fluid" style="width: 3rem;" src="../images/instagram.png" alt="icon instagram">
            </a>
            <a href="https://www.whatsapp.com/" target="_blank">
                <img class="img-fluid" style="width: 3rem;" src="../images/whatsapp.png" alt="icon whatsapp">
            </a>
        </div>
        <p class="text-white m-0 fs-4 text-center">COHORT FS049</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/stats.js"></script>
</body>

</html>